<!-- ============================ Off-canvas navigation =========================== -->

    <div class="sb-slidebar sb-right sb-style-overlay sb-momentum-scrolling">
        <div class="sb-close" aria-label="Close Menu" aria-hidden="true">
            <img src="<%- config.root %>img/close.png" alt="بستن"/>
        </div>
        <!-- Lists in Slidebars -->
        <ul class="sb-menu">
            <li><a href="<%- config.root %>" class="animsition-link" title="صفحه اصلی">صفحه اصلی</a></li>
            <li><a href="<%- config.root %><%- config.archive_dir %>" class="animsition-link" title="آرشیو">آرشیو</a></li>
            <!-- Dropdown Menu -->
            <% if (theme.simple_search && theme.simple_search_site && theme.simple_search_site_key && theme.simple_search_query_key && theme.simple_search_placeholder){ %>
            <li>
                <a class="sb-toggle-submenu">جستجو<span class="sb-caret"></span></a>
                <ul class="sb-submenu">
                    <form action="<%- theme.simple_search %>" method="get">
                        <fieldset role="search">
                            <input type="hidden" name="<%- theme.simple_search_site_key %>" value="<%- theme.simple_search_site %>">
                            <input class="search" type="text" name="<%- theme.simple_search_query_key %>" results="0" placeholder="<%- theme.simple_search_placeholder %>"/>
                        </fieldset>
                    </form>                
                </ul>
            </li>
            <% } %>
            <!-- Dropdown Menu -->
            <% if (theme.works && theme.works.length){ %>
            <li>
                <a class="sb-toggle-submenu">کارها<span class="sb-caret"></span></a>
                <ul class="sb-submenu">
                    <% theme.works.forEach(function(item){ %>
                        <li><a href="<%- item.works_url %>" target="_BLANK" class="animsition-link"><%= item.works_name %></a></li>
                    <% }); %>
                </ul>
            </li>
            <% } %>
            <% if (site.categories.length){ %>
            <li>
                <a class="sb-toggle-submenu">دسته ها<span class="sb-caret"></span></a>
                <ul class="sb-submenu">
                    <% site.categories.sort('name').each(function(item){ %>
                    <li><a href="<%- config.root %><%- item.path %>" class="animsition-link"><%= item.name %><small>(<%= item.posts.length %>)</small></a></li>
                    <% }); %>
                </ul>
            </li>
            <% } %>
            <% if (theme.links && theme.links.length){ %>
            <li>
                <a class="sb-toggle-submenu">لینک ها<span class="sb-caret"></span></a>
                <ul class="sb-submenu">
                    <% theme.links.forEach(function(item){ %>
                    <li><a href="<%- item.link %>" class="animsition-link"><%= item.name %></a></li>
                    <% }); %>
                </ul>
            </li>
            <% } %>
        </ul>
        <!-- Lists in Slidebars -->
        <ul class="sb-menu secondary">
            <li><a href="<%- config.root %>atom.xml" class="animsition-link" title="اشتراک از طریق فید">اشتراک از طریق فید</a></li>
        </ul>
    </div>
    
    <!-- ============================ END Off-canvas navigation =========================== -->

    <!-- ============================ #sb-site Main Page Wrapper =========================== -->

    <div id="sb-site">
        <!-- #sb-site - All page content should be contained within this id, except the off-canvas navigation itself -->

        <!-- ============================ Header & Logo bar =========================== -->

        <div id="navigation" class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Nav logo -->
                    <div class="logo">
                        <a href="/" title="Logo" class="animsition-link">
                        <% if (theme.logo) { %> <img src="<%- theme.logo %>" alt="Logo" width="35px;"/> <% } %>
                        </a>
                    </div>
                    <!-- // Nav logo -->
                    <!-- Info-bar -->
                    <nav>
                        <ul class="nav">
                            <li><a href="/" class="animsition-link" title="<%- config.title %>"><span><%- config.title %></span></a></li>
                            <li class="nolink"><%- config.subtitle %></li>
                            <% if(theme.twitter){ %>
                            <li><a href="<%- theme.twitter %>" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <% } %>
                            <% if(theme.github){ %>
                            <li><a href="<%- theme.github %>" title="Github" target="_blank"><i class="fa fa-git"></i></a></li>
                            <% } %>
                            <% if(theme.linkedin){ %>
                            <li><a href="<%- theme.linkedin %>" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <% } %>
                            <% if(theme.telegram){ %>
                            <li><a href="<%- theme.telegram %>" title="Telegram" target="_blank"><i class="fa fa-paper-plane"></i></a></li>
                            <% } %>
                            <% if(theme.facebook){ %>
                            <li><a href="<%- theme.facebook %>" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <% } %>
                            <% if(theme.google){ %>
                            <li><a href="<%- theme.google %>" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <% } %>
                            <% if(theme.weibo){ %>
                            <li><a href="<%- theme.weibo %>" title="Sina-Weibo" target="_blank"><i class="fa fa-weibo"></i></a></li>
                            <% } %>
                            <li><div style="direction: rtl; text-align: center;" class="en-blog">
                            <a href="http://www.babaei.net/" style="text-decoration: none;" title="The blog of Mohammad S. Babaei">English Blog</a>
                            </div>
                            </li>
                        </ul>
                    </nav>
                    <!--// Info-bar -->
                </div>
                <!-- // .container -->
                <div class="learnmore sb-toggle-right">More</div>
                <button type="button" class="navbar-toggle menu-icon sb-toggle-right" title="More">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar before"></span>
                <span class="icon-bar main"></span>
                <span class="icon-bar after"></span>
                </button>
            </div>
            <!-- // .navbar-inner -->
        </div>

        <!-- ============================ Header & Logo bar =========================== -->

        <!-- ============================ Hero Image =========================== -->

        <section id="hero" class="scrollme">
            <div class="container-fluid element-img" style="background: url(<%- theme.cover_high %>) no-repeat center center fixed">
            <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 vertical-align cover boost text-center">
                        <div class="center-me animateme" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="100">
                            <div>
                                <% theme.top_saying.forEach(function(item){ %>
                                <h2><%- item.title %></h2>
                                <p><%- item.content %></p>
                                <% }); %>

                            </div>
                        </div>
                    </div>
                    <!-- // .col-md-12 -->
                </div>
                <div class="herofade beige-dk"></div>
                <div class="scroll-down">
                    <a href="#topofpage"><img src="/img/scroll_down.png" width="128" height="128"></a>
                </div>
            </div>
        </section>

        <!-- Height spacing helper -->
        <div class="heightblock"></div>
        <!-- // End height spacing helper -->

        <!-- ============================ END Hero Image =========================== -->

        <a id="topofpage" name="topofpage"></a>
