<% permalink = config.url + config.root + post.path %>
<section id="intro">
    <div class="container">
        <div class="row col-md-offset-2">
            <div class="col-md-8">
    			<%- partial('post/meta') %>
                <h1><%- post.title %></h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="post-content">
                <%- post.content %>
            </div>
            <div class="clearfix"></div>
            <div class="sharing">
                <%- partial('post/sharing') %>
            </div>
            <div class="clearfix"></div>
            <div class="subscribe">
                <%- partial('post/subscribe') %>
            </div>
            <div class="clearfix"></div>
        </div>
        <%- partial('post/navigation') %>
        <div class="duoshuo"><%- partial('post/duoshuo') %></div>
    </div>
</section>
